* {
    padding: 0px;
    margin: 0px;
    border-style: border-box;
  }
  
  html {
    min-height: 100vh;
    font-family: Arial, sans-serif;
  }
  
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  a {
    text-decoration: none;
    color: #000000de;
  }
  
  header {
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  main {
    flex-grow: 1;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .searchbar {
    width: 50%;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    height: 44px;
    outline: none;
    padding-left: 30px;
  }
  
  main img {
    height: 92px;
    width: 272px;
  }
  
  .boutons {
    display: flex;
  }
  
  .boutons button {
    background-color: #f8f9fa;
    height: 36px;
    border: none;
    padding: 0 16px;
    margin: 11px 4px;
  }
  
  footer {
    height: 10vh;
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
  }
  
  footer p {
    border-bottom: 1px solid #dadce0;
    height: 50%;
    display: flex;
    align-items: center;
  }
  
  footer img {
    height: 12px;
  }
  
  .footer2 {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .left {
    display: flex;
    justify-content: space-around;
  }
  .left a,
  .right a {
    padding: 10px;
  }